*{
  box-sizing: border-box;
}


body{
  display: flex;
  flex-flow: row wrap;
  background-color: #132335;
  justify-content: center;

}

.timer{
  color: white;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
}

.TitleBar{
  display: flex;
  height: 100px;
  width: 100vw;
  justify-content: center;   
}

.canvasborder{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-image: linear-gradient(#d8d0ef, #ebe9f9,#a6a6b0) 20;
  border-style: solid;
  border-width: 5px;
}
.centercontainer{
  display: flex;
  flex-direction: column-reverse;
  width: 70%;
}

.linegraphborder{
  width: 100%;
  border-image: linear-gradient(#d8d0ef, #ebe9f9,#a6a6b0) 20;
  border-style: solid;
  border-width: 5px;
}
.LineChart{
  width: 100%;
  height: 100%;

}
.linecontainer{
  display: flex;
  flex-flow: row wrap;
  width: 20%;

}
#container{
  height: 100%;
  width: 100%;
  background-color: rgba(0, 4, 19, 0.75);

  // border-image: linear-gradient(#d8d0ef, #ebe9f9,#a6a6b0) 20;
  // border-style: solid;
  // border-width: 10px;

}


.stats{
  margin-left: 1vw;
  border-width: 1px; 
  width: 10vw;
  margin-right: 10vw;
  color: white;
}

.Combo{
  display: flex;
  width: 20%
}

h3{
  text-align: center;
}

.Pos{
  text-align: center;
  color: lightblue;
  padding-left: 50px;
}

.Neg{
  text-align: center;
  color: red;
  padding-left: 50px;
}
.PageCenter{
  display: flex;
  border-image: linear-gradient(#d8d0ef, #ebe9f9,#a6a6b0) 20;
  border-style: solid;
  border-width: 5px;
  background-image:url(/img/bluebg.jpg);
  background-size: 100%;
  justify-content: space-evenly;
  width: 80vw;
  height: 500px;
  box-shadow: 0px 0px 300px 40px rgba(0,0,0,1);
}
// .sigma-scene, .sigma-labels, .sigma-mouse {
//   height: auto !important;
//   width: auto !important;
// }
.PowerStatsHeader{
  color: white;
  size: 2rem;
  border-bottom: 1px solid lightblue;
  text-align: center;
  margin-bottom: 0%;
}


.PowerStats{
  height: 20%;
  width: 100%;
  background-color: rgba(0, 4, 19, 0.75);
  border-image: linear-gradient(#d8d0ef, #ebe9f9,#a6a6b0) 20;
  border-style: solid;
  border-width: 5px;
}

