body{
  display: flex;
  flex-flow: row wrap;
  background-color: #132335;
  justify-content: center;
}

.timer{
  color: white;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
}

.TitleBar{
  display: flex;
  height: 100px;
  width: 100vw;
  justify-content: center;   
}

#container{
  height: 90%;
  width: 30%;
  background-color: rgba(46,70,97, 0.75);
  margin: 10px;
  border-radius: 50px;
  border: 10px solid grey;
}


.stats{
  margin-left: 1vw;
  border-width: 1px; 
  width: 10vw;
  margin-right: 10vw;
  color: white;
}

.Combo{
  display: flex;
  width: 20%
}

h3{
  text-align: center;
}

.Pos{
  text-align: center;
  color: lightblue;
  padding-left: 50px;
}

.Neg{
  text-align: center;
  color: red;
  padding-left: 50px;
}
.PageCenter{
  display: flex;
  border-image: linear-gradient(#f6b73c, #4d9f0c) 20;
  border-style: solid;
  border-width: 10px;
  background-color: black;
  justify-content: space-evenly;
  width: 80vw;
  height: 500px;
}

.PowerStatsHeader{
  margin-top: 6%;
  color: white;
  size: 2rem;
  border-bottom: 1px solid lightblue;
  text-align: center;
}

.LineChart{
  height: 30vh;
  width: 40vw;
}

.PowerStats{
  height: 90%;
  width: 20%;
  background-color: rgba(46,70,97, 0.75);
  border-radius: 50px;
  border-color: #132335;
  border: 10px solid grey;
  margin: 10px;
}

