@import url(https://fonts.googleapis.com/css?family=Nunito);* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  background-color: #132335;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.timer#timer {
  width: 100%;
}

.cgpslogo {
  width: 100px;
  height: 100px;
}

.clock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20%;
  height: 100%;
  -o-border-image: linear-gradient(#a6a6b0, #ebe9f9, #a6a6b0, #ebe9f9, #a6a6b0, #ebe9f9, #a6a6b0) 10;
     border-image: -webkit-gradient(linear, left top, left bottom, from(#a6a6b0), color-stop(#ebe9f9), color-stop(#a6a6b0), color-stop(#ebe9f9), color-stop(#a6a6b0), color-stop(#ebe9f9), to(#a6a6b0)) 10;
     border-image: linear-gradient(#a6a6b0, #ebe9f9, #a6a6b0, #ebe9f9, #a6a6b0, #ebe9f9, #a6a6b0) 10;
  border-style: solid;
  border-width: 5px;
}

.pause {
  width: 20%;
  height: 40px;
}

.play {
  width: 20%;
  height: 40px;
}

.speed {
  width: 20%;
  height: 40px;
}

.timer {
  color: white;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
}

.TitleBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -o-border-image: linear-gradient(#a6a6b0, #ebe9f9, #a6a6b0, #ebe9f9, #a6a6b0, #ebe9f9, #a6a6b0) 10;
     border-image: -webkit-gradient(linear, left top, left bottom, from(#a6a6b0), color-stop(#ebe9f9), color-stop(#a6a6b0), color-stop(#ebe9f9), color-stop(#a6a6b0), color-stop(#ebe9f9), to(#a6a6b0)) 10;
     border-image: linear-gradient(#a6a6b0, #ebe9f9, #a6a6b0, #ebe9f9, #a6a6b0, #ebe9f9, #a6a6b0) 10;
  border-style: solid;
  border-width: 5px;
  background-image: url(/img/bluebg.jpg);
  background-size: 100%;
  width: 80vw;
  height: 100px;
  -webkit-box-shadow: 0px 0px 300px 40px black;
          box-shadow: 0px 0px 300px 40px black;
}

.canvasborder {
  width: 100%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -o-border-image: linear-gradient(#a6a6b0, #ebe9f9, #a6a6b0, #ebe9f9, #a6a6b0) 20;
     border-image: -webkit-gradient(linear, left top, left bottom, from(#a6a6b0), color-stop(#ebe9f9), color-stop(#a6a6b0), color-stop(#ebe9f9), to(#a6a6b0)) 20;
     border-image: linear-gradient(#a6a6b0, #ebe9f9, #a6a6b0, #ebe9f9, #a6a6b0) 20;
  border-style: solid;
  border-width: 5px;
}

.centercontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  width: 100%;
}

.linegraphborder1 {
  width: 100%;
  height: 33.4%;
  -o-border-image: linear-gradient(#a6a6b0, #ebe9f9, #a6a6b0) 30;
     border-image: -webkit-gradient(linear, left top, left bottom, from(#a6a6b0), color-stop(#ebe9f9), to(#a6a6b0)) 30;
     border-image: linear-gradient(#a6a6b0, #ebe9f9, #a6a6b0) 30;
  border-style: solid;
  border-width: 5px;
}

.linegraphborder2 {
  width: 100%;
  height: 33.4%;
  -o-border-image: linear-gradient(#a6a6b0, #ebe9f9, #a6a6b0) 30;
     border-image: -webkit-gradient(linear, left top, left bottom, from(#a6a6b0), color-stop(#ebe9f9), to(#a6a6b0)) 30;
     border-image: linear-gradient(#a6a6b0, #ebe9f9, #a6a6b0) 30;
  border-style: solid;
  border-width: 5px;
}

.linegraphborder3 {
  width: 100%;
  height: 33.4%;
  -o-border-image: linear-gradient(#a6a6b0, #ebe9f9, #a6a6b0) 30;
     border-image: -webkit-gradient(linear, left top, left bottom, from(#a6a6b0), color-stop(#ebe9f9), to(#a6a6b0)) 30;
     border-image: linear-gradient(#a6a6b0, #ebe9f9, #a6a6b0) 30;
  border-style: solid;
  border-width: 5px;
}

.LineChart {
  width: 100%;
  height: 100%;
}

.linecontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 40%;
  height: 100%;
}

#container {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 4, 19, 0.75);
}

p {
  text-align: center;
  margin-bottom: 0%;
}

.stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  width: 100%;
}

#stats {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.Combo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20%;
}

h3 {
  text-align: center;
}

.Pos {
  text-align: center;
  color: lightblue;
}

.Neg {
  text-align: center;
  color: red;
}

.PageCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -o-border-image: linear-gradient(#a6a6b0, #ebe9f9, #a6a6b0, #ebe9f9, #a6a6b0, #ebe9f9, #a6a6b0) 10;
     border-image: -webkit-gradient(linear, left top, left bottom, from(#a6a6b0), color-stop(#ebe9f9), color-stop(#a6a6b0), color-stop(#ebe9f9), color-stop(#a6a6b0), color-stop(#ebe9f9), to(#a6a6b0)) 10;
     border-image: linear-gradient(#a6a6b0, #ebe9f9, #a6a6b0, #ebe9f9, #a6a6b0, #ebe9f9, #a6a6b0) 10;
  border-style: solid;
  border-width: 5px;
  background-image: url(/img/bluebg.jpg);
  background-size: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 80vw;
  height: 500px;
  -webkit-box-shadow: 0px 0px 300px 40px black;
          box-shadow: 0px 0px 300px 40px black;
}

.PowerStatsHeader {
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid lightblue;
  text-align: center;
}

.PowerStats {
  height: 30%;
  width: 100%;
  background-color: rgba(0, 4, 19, 0.75);
  -o-border-image: linear-gradient(#a6a6b0, #ebe9f9, #a6a6b0) 20;
     border-image: -webkit-gradient(linear, left top, left bottom, from(#a6a6b0), color-stop(#ebe9f9), to(#a6a6b0)) 20;
     border-image: linear-gradient(#a6a6b0, #ebe9f9, #a6a6b0) 20;
  border-style: solid;
  border-width: 5px;
}

.canvas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.circle {
  display: inline-block;
  margin: 1em;
}

.circles-decimals {
  font-size: .4em;
}

.circles-text {
  font-size: 1em !important;
  color: rgba(255, 255, 255, 0.5);
}

.textcontainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.text {
  color: rgba(255, 255, 255, 0.5);
}

.buttons {
  margin-top: 1em;
}

button {
  font-size: .8em;
  padding: .3em .8em;
}

#pricearray {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -o-border-image: linear-gradient(#a6a6b0, #ebe9f9, #a6a6b0, #ebe9f9, #a6a6b0, #ebe9f9, #a6a6b0) 10;
     border-image: -webkit-gradient(linear, left top, left bottom, from(#a6a6b0), color-stop(#ebe9f9), color-stop(#a6a6b0), color-stop(#ebe9f9), color-stop(#a6a6b0), color-stop(#ebe9f9), to(#a6a6b0)) 10;
     border-image: linear-gradient(#a6a6b0, #ebe9f9, #a6a6b0, #ebe9f9, #a6a6b0, #ebe9f9, #a6a6b0) 10;
  border-style: solid;
  border-width: 5px;
  background-image: url(/img/bluebg.jpg);
  background-size: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 80vw;
  -webkit-box-shadow: 0px 0px 300px 40px black;
          box-shadow: 0px 0px 300px 40px black;
  color: white;
}

.logo {
  width: 100%;
}

.devider {
  height: 300px;
}

.navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

