body{

    background-color: #132335;
}

.timer{
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
}

.TitleBar{
    display: flex;
    height: 100px;
    width: 100vw;
    justify-content: center;   
}

.stats{
    color: white;
}
