.stats{
    border-width: 1px; 
    width: 10vw;
    margin-right: 10vw;
}

.Combo{
    display: flex;
    width: 20%
}

h3{
    text-align: center;
}

.Pos{
    text-align: center;
    color: lightblue;
    padding-left: 50px;
}

.Neg{
    text-align: center;
    color: red;
    padding-left: 50px;
}
.PageCenter{
    display: flex;
}

.PowerStatsHeader{
    color: white;
    size: 2rem;
    border-bottom: 1px solid lightblue;
}

.LineChart{
    height: 30vh;
    width: 40vw;
}
