.stats{
    border-style: solid;
    border-width: 1px; 
    width: 50vw;
    display: flex;

}

.Combo{
    border-style: solid;
    border-width: 1px; 
    width: 20%
}

h3{
    text-align: center;
}

.Pos{
    text-align: center;
    color: green;
}

.Neg{
    text-align: center;
    color: red;
}